@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bolded;
  src: url(Fonts/Fontspring-DEMO-integralcf-bold.otf);
}
@font-face {
  font-family: regular;
  src: url(Fonts/Fontspring-DEMO-integralcf-regular.otf);
}
.bolded{
  font-family: bolded;
}
.mainPadding{
  @apply p-4 xsm:px-6 md:px-24;
}
.mainMargin{
  @apply m-4;
}
.Links{
  @apply hover:underline underline-offset-4;
}
.btn{
  @apply bg-black text-white py-3 px-16 rounded-3xl;
}